<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ css }}"/>
  <link rel="stylesheet" type="text/css" href="./css/shared.css"/>
  <script src="javascript/ajax.js"></script>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <a href="/">
      <img class="logo" src="./images/home.svg"/>
    </a>
  </header>
  <main>
    <table id="leftlist">
      <tbody class="flextable">
        <tr>
          <th>Games :</th>
          <td><a href="/demineur">Démineur</a></td>
          <td><a href="/glisseur">Glisseur</a></td>
        </tr>
      </tbody>
    </table>
    <div class="center">
      <div id="game">
        {{{ body }}}
      </div>
    </div>
    <div id="rightdiv">
      <table id="highscores">
        <tbody class="flextable">
          <tr>
            {{{ highscore }}}
          </tr>
        </tbody>
      </table>
      <div class="spacer"></div>
      <div id="def">
        <h3>{{ title }}</h3>
        {{{ rules }}}
      </div>
    </div>
  </main>
</body>
</html>
